<% include('includes/header') %>
<body style="background-color: red">
    <div style="font-size: large">Products Page</div>
    <div style="font-size: large">Member: <%= member.memberNick %></div>
</body>

<% include('includes/footer') %>
